@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Dancing+Script:wght@400..700&family=Playwrite+HU:wght@100..400&display=swap');

:root {
    --color1: #F8FAFC;
    --color2: #D9EAFD;
    --color3: #BCCCDC;
    --color4: #9AA6B2;
    --color5: #3e4348;

}

body {
    background: var(--color4);
    background-image:/* membuat pola grid */
        linear-gradient(var(--color3) 1px, transparent 1px), /*garis mendatar */
        linear-gradient(90deg, var(--color3) 1px, transparent 1px); /*garis tegak */
    background-size: 40px 40px; /* besar kotaknyah */
    min-height: 100vh; /* agar bagian atas ada space sehingga bisa ke tenggah */
    margin: 0;
    padding: 0;
    display: flex; /* flexbox supaya bisa center */
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: var(--color3);
    width: 90%;
    max-width: 450px;
    padding: 20px;
    box-shadow: 0 4px var(--color2);
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px;
    position: relative; /* supaya add-menu bisa absolute di dalam */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
    color: var(--color5);
    font-family: 'BBH Sans Hegarty', sans-serif;
}

.add-btn {
    font-size: 1.8rem;
    background: var(--color1);
    color: var(--color5);
    border: none;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-menu {
    position: absolute;
    right: 20px;
    top: 60px;
    background: var(--color1);
    color: var(--color5);
    padding: 10px;
    display: none; /* saat tanda + belum di tekan dia tidak akan terlihat tapi begitu ditekan akan ada */
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.add-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.add-menu.active {
    display: flex;
}

.add-menu button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: var(--color2);
    color: var(--color5);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 4px var(--color3);
}

.add-menu button:hover {
    background: var(--color3);
    transform: scale(1.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

header{
    background-color: var(--color1);
    border-radius: 15px;
    bottom: 10px;
}

main{
    top: 10px;
    background-color: var(--color1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.task-section{
    background-color: var(--color2);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px var(--color3);
}

.pop {
    display: none; /* awalnya tidak terlihat */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* gelap transparan */
    justify-content: center; /* center secara horizontal */
    align-items: center; /* center secara vertical */
    z-index: 9999; /* di atas elemen lain */
}

.pop.active {
    display: flex;
}

.pop-content {
    background: var(--color2);
    width: 300px;  
    height: 200px;          /* ukuran kotak */
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper.inactive {
    filter: blur(5px);
    opacity: 0.4;
    pointer-events: none; /* tidak bisa diklik */
    transform: scale(0.98);
    transition: 0.3s;
}
